<!DOCTYPE html>
<html id                = "ktb">
  <head>
    <meta charset       = "UTF-8" />
    <meta http-equiv="Content-Security-Policy" 
    content="default-src * data: 'unsafe-eval' 'unsafe-inline' blob:">
    <!-- <script src="./shared/LogRocket.min.js" crossorigin="anonymous"></script>
    <script>window.LogRocket && window.LogRocket.init('z3zz4t/kill-the-boss');</script> -->
    <title>kill the boss!</title>
    <link rel           = "stylesheet" href="./main.css">
  </head>
  <div id="app">
    <!-- <h2>{{message}}</h2>
    <h1>Spawn World</h1> -->
  <fieldset id          = "persos">
    <div>Choose your favorite player :
      </div>
      <div id           = "perso_entry"></div>                          <!-- injection here -->
  </fieldset>

  <div class="main">
    <fieldset id          = "stats" ></fieldset>                          <!-- injection here -->
    <table id             = "world_spawn" class = "board"  ></table>      <!-- injection here -->
    <div class="cellZoom">
      in this room : <br>
      <div id="cellContent"></div>

    </div>
  </div>
  <div style="clear: both;"></div>
  <br />
  <div class            = "footer">
    <div class            = "credits">
    <small>made with <b>love</b>,
        Node.js  (v{{versionNode}}) and
        Electron (v{{versionElectron}}).
      by 
      <img src          = "./assets/avatar/captain.png" /> and
      <img src          = "./assets/avatar/superT0f.png" /><br/> </small>
    </div>
  </div>
</div>

  <script  src = "./renderer.js"></script>
  <script  src = "./shared/utils.js"></script>
  <script  src = "./shared/vue.global.js"></script>

</html>
