body{
background                    : url(./assets/background.png) center;
/* background-repeat             : round; */
}
.cellZoom{
  clear: both;
  background-color: rgba(255,255,255,0.5);
}

fieldset{
  /* background-color: coral; */
  background-color: rgba(255,255,255,0.5);
}
h3 {                  text-align                    : center;
                      color                         : brown;
                      font-weight                   : bold;}
.board {              border-spacing                : 0;
                      margin                        : 0px auto;
                      text-align                    : center;
                      vertical-align                : top;
                      /* background-color              : antiquewhite; */
                    }
.board small {        background-color              : antiquewhite;
                      display                       : block;}
.board img {             width                      : 40px;}
.board img.avatar {      width                      : 70px;}

.board td { 
  width                         : 140px;
  height                        : 100px;
}
.board td {           vertical-align                : text-bottom;
                      /* border-color                  : grey;
                      border-style                  : solid; */
                      font-family                   : Arial, sans-serif;
                      font-size                     : 14px;
                      overflow                      : hidden;
                      padding                       : 0;
                      word-break                    : normal;
                      background                    : url(./assets/room.png);
                      background-repeat             : round;}
#ktb .openLeft {      border-left                   : 1px transparent;}
#ktb .openRight {     border-right                  : 1px transparent;}
#ktb .openTop {       border-top                    : 1px transparent;}
#ktb .openBottom {    border-bottom                 : 1px transparent;}
#ktb .empty {         
                       /* background: url(./assets/wall.webp);  */
                      /* background                    : url(./assets/wall2.png); */
                      background-color             : rgba(0,0,0,0.7);
                      background-image: none;
                    }
#ktb .player {        border                        : 1px dotted lime;
                      height                        : 30px;
                      width                         : 30px;
                      border-radius                 : 10px;}
#ktb td.selected,#ktb .selected.player {
  border                                            : 3px solid tomato;
  animation                                         : blink 1s;
  animation-iteration-count                         : infinite;
}
@keyframes blink { 50% { border-color               : greenyellow; }  }
#ktb .perso .player { 
  float                                             : right;
  border                                            : none;
  height                                            : 30px}
#ktb .item {        
  height :30px;
  border                                            : 1px dotted;
  background-color                                  : rgba(255,255,255,0.5);}
#ktb .mob {           border:2px solid red;
  border                                            : 2px solid red;
  background-color                                  : bisque;
  width                                             : 18px;}
#ktb .perso {         border                        : 1px solid black;
                      float                         : left;
                      margin-left                   : 10px;
                      padding                       : 5px;
                      font-size                     : larger;}
#ktb .perso:hover {   background-color: bisque;
                      cursor                        : pointer;}
.perso.selected {     background-color              : lightslategray}
#perso_toggle {
  font-weight                                       : bold;
  font-size                                         : larger;
  color                                             : blue;}
#perso_toggle:hover { cursor                        : pointer;}
.footer  {   
  font-size: xx-small;
  background-color: rgba(255,255,255,0.5);
  float   : right;
  text-decoration               : wavy;}
.footer  img {   
  height: 14px;
  width                         : 10px;}
.footer  b {     color                         : palevioletred; }
.footer .credits img {
  margin-bottom: -5px;
}
#ktb .stats {
  display                                           : content;}
#ktb .stats .separator {
  border                                            : 1px solid burlywood;}
#ktb .stats .id {
  float                                             : left;
  margin-right                                      : 20px;
  text-align                                        : center;}
#ktb .stats .life {
  float                                             : left;}
#ktb .stats .items {
float                                               : left;}
#ktb .stats .label {
  margin-bottom                                     : 10px;}
#ktb .stats .position {
  float                                             : none;}
#health-bar {
  -webkit-box-sizing                                : border-box;
  -moz-box-sizing                                   : border-box;
  box-sizing                                        : border-box;
  width                                             : 100px;
  height                                            : 20px;
  padding                                           : 5px;
  background                                        : #ddd;
  -webkit-border-radius                             : 5px;
  -moz-border-radius                                : 5px;
  border-radius                                     : 5px;
  text-align                                        : center;
  font-size                                         : small;
  margin-top                                        : 0;
  float                                             : none;}
#bar {
  background                                        : #c54;
  width                                             : 100%;
  height                                            : 10px;
  position                                          : relative;
  transition                                        : width .5s linear;}
#bar small{
  margin-bottom: -5px;
}
#hit {
  background                                        : rgba(255,255,255,0.6);
  position                                          : absolute;
  top                                               : 0;
  right                                             : 0;
  bottom                                            : 0;
  width                                             : 0px;
  transition                                        : width .5s linear;}


.main{
  float: left;
  margin-bottom: 30px;
}
.main .board,.main #stats {
  float: left;
}
